:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
}

.header,
.section,
.aside {
  /* box-sizing: content-box; */
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  background-color: var(--blue);
}

/* The reason that this doesn't work out currently has to do with the CSS  */
/* above for "aside", The content box messes it up, and so does the  */
/* padding and border.  */
.section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
}

.aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
}
